<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QualityWorks Simple Test Suite">
<parameter name="baseUrl" value="https://test.salesforce.com"/>
  <test name="Simple Test Suite">
    <classes>
      <class name="com.qualityworkscg.tests.HomeTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
